.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    padding: .5rem 0;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

a>span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a>span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .header {
        margin: 0 0;
        font-size: 1rem;
    }

    .header__icon {
        margin: 10px 10px;
    }
}